@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font: "Space Mono", monospace;

  --background: rgb(246, 248, 255);
  --component-background: rgb(254, 254, 254);

  --title: rgb(43, 52, 66);
  --text: rgb(75, 106, 155);
  --third: rgb(105, 124, 154);

  --white: rgb(255, 255, 255);

  --shadow: 0 4px 4px rgba(0, 0, 0, 25%);
  --bigShadow: 0 16px 30px -10px rgba(70, 96, 187, 20%);
  --colorMode: rgb(43, 52, 66);

  //Unchanged Colors
  --secondary: rgb(0, 121, 255);
  --btn-hover: rgb(96, 171, 255);
  --error: rgb(247, 70, 70);
}

.darkMode {
  --background: rgb(20, 29, 47);
  --component-background: rgb(30, 42, 71);

  --title: rgb(255, 255, 255);
  --text: rgb(255, 255, 255);
  --third: rgb(255, 255, 255);

  --shadow: "none";
  --bigShadow: "none";
  --colorMode: rgb(144, 164, 212);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include flex(center);
  flex-direction: column;
  min-height: 100vh;
  margin: auto 20%;
  font-family: var(--font);
  background-color: var(--background);
}

h1 {
  @include fontStyle(var(--title), bold, 26px, 38px);
}

h2 {
  @include fontStyle(var(--secondary), normal, 16px, 24px);
}

h3 {
  @include fontStyle(var(--text), normal, 13px, 20px);
}

h4 {
  @include fontStyle(var(--title), bold, 22px, 33px);
}

p {
  @include fontStyle(none, normal, 15px, 25px);
}

a {
  @include fontStyle(var(--text), normal, 15px, 25px);
}

@media all and (max-width: 1200px) {
  body {
    margin: 20px 10%;
  }
}

@media all and (max-width: 625px) {
  body {
    margin: 30px 24px;
  }

  h1 {
    @include fontStyle(var(--title), bold, 16px, 28px);
  }

  h2 {
    @include fontStyle(var(--secondary), normal, 13px, 15px);
  }

  h3 {
    @include fontStyle(var(--text), normal, 11px, 18px);
  }

  h4 {
    @include fontStyle(var(--title), bold, 16px, 27px);
  }

  p {
    @include fontStyle(none, normal, 13px, 23px);
  }

  a {
    @include fontStyle(var(--text), normal, 13px, 23px);
  }
}
